        <a id="top" href="/">
          <img id="banner_img" src="/assets/img/header.png" alt="Apex-Tom Workshop">
        </a>
        <nav id="site_nav">
          <ul id="nav_list">
            <li id="nav_item0"{% if page.url == '/bbc/' %} class="active"{% endif %}>
				<a href="/bbc/"><span>BBC</span></a>
			</li>
            <li id="nav_item1"{% if page.url == '/toefl/' %} class="active"{% endif %}>
				<a href="/toefl/"><span>TOEFL</span></a>
			</li>
            <li id="nav_item2"{% if page.url == '/sat/' %} class="active"{% endif %}>
				<a href="/sat/"><span>SAT</span></a>
			</li>
            <li id="nav_item3"{% if page.url == '/sat-ii/' %} class="active"{% endif %}>
				<a href="/sat-ii/"><span>SAT II</span></a>
			</li>
            <li id="nav_item4"{% if page.url == '/ap/' %} class="active"{% endif %}>
				<a href="/ap/"><span>AP</span></a>
			</li>
            <li id="nav_item5"{% if page.url == '/a-level/' %} class="active"{% endif %}>
				<a href="/a-level/"><span>A-LEVEL</span></a>
			</li>
            <li id="nav_item6"{% if page.url == '/gre/' %} class="active"{% endif %}>
				<a href="/gre/"><span>GRE</span></a>
			</li>
            <li id="nav_item7"{% if page.url == '/about/' %} class="active"{% endif %}>
				<a href="/about/"><span>关于我们</span></a>
			</li>
          </ul>
        </nav>
